# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\InfLessons_3_sem\lesson03.09.21\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
